/* forgotpassword page css start*/

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.forgot-password-form h2 {
  margin-top: 0;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.btn-submit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #45a049;
} */

/* forgotpassword page css end */









/* exercise 8 css start */

/* exercise 8 css end */

/* exercise 9 css start */



        *
        {
            margin:  0px;
            padding: 0px;
        }
        .navbar
        {
            position: fixed;
            border: 1px solid black;
            display: flex;  
            background-color: #FFF600;
            width: 100%;
        }
        .logo-img
        {
              /* align-items: center; 
              padding-top: 4px;
              padding-left: 15px; */
        }
        .navbar-items
        {
            justify-content: space-between;
            
            padding: 0px 10px 0px 0px;
        }
        .navbar-items>h1
        {
             color: #BF1B2C; 
            padding:1px 450px 0px 0px;
            font-size: 23px;
            color: #321E1E;
            margin-bottom: 0px;
            text-transform: uppercase;
        }
        .navbar-items>a
        {
            text-decoration: none;
            color: #321E1E;
            font-size: 20px;
        }
        .navbar-items>input
        {
            width: 225px;
            margin-top: 0px;
            padding: 3px;
        }
        .menuspace {
          width: 100%;
          height: 55.3px;
        }


        .card-body {
          padding: 0;
        }        
        .card-footer {
          background-color: #FFFFFF;
          padding: 0;
          
        }
        .hover-img img :hover 
        {
            transform: scale(1.9)
        }
        .btn-custom-size {
          padding: 0px;
          width: 40px;
          height: 20px;
        margin: 0px;
          font-size: 12px;
      }
        
    

/* exercise 9 css end */